
.carrousel-div{
    width: 50vw;
}

.carrousel-image{
    width: 46em;
    height: auto;
    transition: 0.2s ease-in-out;
}

.carrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrousel-btn a, .carrousel-btn p{
    font-size: 0.6em;
}

.carrousel-btn a{
    cursor: pointer;
}
.carrousel-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1.5em;
}

hr{
    display: none;
}

@media (max-width: 1100px) and (min-width: 300px){
    hr{
        display: block;
        margin:0;
        width: 100vw;
        height: 0.5px;
    }
    .carrousel-div{
        width: 100%;
    }
    .carrousel{

    }
    .carrousel-image{
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .carrousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .carrousel-btn a, .carrousel-btn p{
        font-size: 0.6em;
    }

    .carrousel-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0em ;
        width: 100%;
    }
    .carrousel-btn a{
        margin: 0em 2em;
    }
}