nav{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-between;

}

.openNav, .closeNav{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1.5vw;
    background-color: #F5F5F5;
}

.nav-Link{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.nav-Link a{
    text-decoration: none;
    color: black;
}

.nav-Link a:hover{
    text-decoration: underline;
}
.nav-Link li{
    list-style-type: none;
    font-size: 14px;
}
.arrow-nav{
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
}
.social-link{
    display: flex;  
    justify-content: space-between;
    width: 25vw;
}

.social-link a{
    text-decoration: none;
    color: black;
}

.social-link a:hover{
    text-decoration: underline;
}

.social{
    display: flex;
}
.social li{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}

.navbar-burger{
    display: none;
}
.hr-nav{
    display: block;
    width: 99.9vw;
    height: 0.2px;
    background-color: black;
    margin: 1em 0em 0.5em;

}

@media (max-width: 1100px) and (min-width: 300px){

    .closeNav{
        display: block;
        transform: translateX(-110%);
        position: absolute;
        padding-top: 10em ;
        left: 0;
        top: 0;
        height: 100vh;
        width: 86%;
        transition:  0.3s ease-in-out;
        background-color: #F5F5F5;
        z-index: 2;
    }
    .openNav {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 10em ;
        padding-left: 12%;
        margin: 0;
        z-index: 2;
        height: 100vh;
        width: 86%;
        transform: translateX(0);
        background-color: #F5F5F5;
        transition:  0.3s ease-in-out;
    }
    .nav-Link{
        flex-direction: column;
        padding-bottom: 3em;
        width: 10em;
    }
    .nav-Link li{
        list-style-type: square;
        list-style-type: style color #949494;
        padding: 0.3em 0em;
    }
    .arrow-nav{
        width: 15px;
        height: 15px;
        padding: 0.3em 0em;
        margin-right: 0.5em;
    }
    .social-link{
        flex-direction: column;
    }
    .social{
        display: flex;
    }
    .social li{
        list-style: none;
        padding: 0.3em 0em;

    }

    .navbar-burger{
        display: block;
        position: absolute;
        top: 2.5em;
        right: 2em;
        cursor: pointer;
        padding: 0;
        border: 0;
    }

    .navbar-burger.open{
        position: absolute;
        z-index: 4;
    }
    .burger-bar,
    .burger-bar::before{
        display: block;
        width: 25px;
        height: 0.5px;
        position: relative;
        background-color: black;
        transition: all 0.1s ease-in-out;
        z-index: 4;
    }

    .burger-bar::before{
        content: "";
        position: absolute;
        left: 0;
        transform: rotate(90deg);
    }

    .navbar-burger.open .burger-bar{
        transform: rotate(45deg);
    }
    .hr-nav{
        display: none;
    }
}