@font-face {
    font-family: 'Lapicide';
    src: url('./assets/Lapicide-Light.woff2') ;
}
*{
    cursor: none;
}

body{
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}



.add-carrousel{
    display: flex;
    flex-direction: row;
}

/* Homepage Desktop*/
    .inputText{
        font-family: 'Lapicide';
        text-align: start;
        outline: none;
        height: auto;
        width: 48vw;
        overflow-y: scroll;
        height: auto;
        max-height: 55vh;
    }
    .inputText::-webkit-scrollbar{
        width: 12px;
    }

    .input-font{
        display: flex;
        flex-direction: row;
        align-items: start;
        padding-top: 5vh;
    }

    .input-fontSize, .input-spacingLetter{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .input-fontSize{
        margin-right: 3em;
    }
    .input-fontSize p{
        margin-right: 0em;
    }
    .input-fontSize input , .input-spacingLetter input {
        margin-left: 1em;
        width: 18em;
        background-color: black;
        appearance: none;
        height: 1px; 
        background: black; 
    }
    .input-fontSize input::-webkit-slider-thumb , .input-spacingLetter input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #949494;
    }


/* About Desktop */

.about-text{
    font-family: "Lapicide";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    font-size: 23px;

}
.about-text p{
    margin: 0em;
}

/* Shop desktop */
.shop-title, .radio-option{
    font-family: "Lapicide";
    font-weight: 300;
}
.shop-title{
    margin: 0;
    font-size: 44px;
}
.shop{
   margin: 0em 1em ; 
   flex-direction: column;
}
.link-info{
    display: flex;
    flex-direction: row;
}
.link-div{
    margin: 2em 0em;        
}
.email-input{
    border: none;
    background-color: #F5F5F5;
    font-size: 12px;
    width: 16em;
    margin: 3em 0em;
    
}

.btn-buy{
    padding: 1.5em 4em;
    background-color: black;
    color: white;
    border-radius: 5em;
    font-size: 10px;
    margin-right: 2em;
    border: solid black;
}
.btn-trial{
    padding: 1.5em 4em;
    background-color: #F5F5F5;
    border-radius: 5em;
    font-size: 10px;
    border: 0.1px black solid;
}
.btn-shop{
    display: flex;
    flex-direction: row;
}
.popUp-info {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 10em;
    height: 5em;
    justify-content: center;
    align-items: center;
}
.info-btn{
    width: 15px;
    height: 15px;
    margin-left: 0.5em;
}
.info-btn:hover .popUp-info{
    display: block;
}
.radio-option.selected{
    text-decoration: underline;
}



@media (max-width: 1100px) and (min-width: 300px){
    body{
        overflow-y: visible;
        overflow-x: hidden;
    }

    .add-carrousel{
        display: flex;
        flex-direction: column;
    }

    /* About mobile */
    .about{
        flex-direction: column;
    }
    .about-text{
        width: 90vw;
        padding: 0em 1.5em 1em;
        font-size: 20px;
        letter-spacing: 0.2px;
    }
    .about-text p{
        margin-top: 1em;
    }



    /* Homepage Mobile */
    .inputText{
        font-family: 'Lapicide';
        text-align: center;
        outline: none;
        height: auto;
        margin: 5vh 5vw 5vh;
        width: 90vw;
        max-height: 30vh;
        
    }
    .input-font{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 3vh;
        padding: 0;
    }

    .input-fontSize, .input-spacingLetter{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .input-fontSize p{
        margin-right: 2.2em;
    }
    .input-fontSize input , .input-spacingLetter input {
        margin-left: 2em;
        width: 18em;
        background-color: black;
        appearance: none;
        height: 1px; 
        background: black; 
    }
    .input-fontSize input::-webkit-slider-thumb , .input-spacingLetter input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #949494;
    }



    /* Shop Page Mobile */
    .shop-title, .radio-option{
        font-family: "Lapicide";
        font-weight: 300;
    }
    .shop{
       margin: 2vh 5vw ; 
       flex-direction: column;
    }
    .shop-title{
        font-size: 32px;
    }
    .link-info{
        display: flex;
        flex-direction: row;

    }
    .link-div{
        margin:  4vh 0vw;        
    }
    .email-input{
        border: none;
        background-color: #F5F5F5;
        font-size: 12px;
        width: 16em;
        margin: 2em 0em;
    }
    .btn-buy{
        padding: 1.5em 3em;
        background-color: black;
        color: white;
        border-radius: 5em;
        font-size: 10px;
        margin-right: 2em;
    }
    .btn-trial{
        padding: 1.5em 3em;
        background-color: #F5F5F5;
        border-radius: 5em;
        font-size: 10px;
    }
    .btn-shop{
        display: flex;
        flex-direction: row;
    }
    .popUp-info {
        display: none;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 10em;
        height: 5em;
        justify-content: center;
        align-items: center;
    }
    .info-btn{
        width: 15px;
        height: 15px;
        margin-left: 0.5em;
    }
    .info-btn:hover .popUp-info{
        display: block;
    }
}
@media (max-width: 600px) and (min-width: 300px){
    *{
        cursor: initial;
    }
}